#bibliotecas
    width: 100vw
    text-align: center
    font-size: 4rem
    text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8)
    padding: 30vh 
    color: white
    background-image: url("../assets/img/IMG_9850.JPG")
    background-size: cover
    background-position: center left
#texto-bibliotecas .pCapital::first-letter
    color: #EABB7F
    font-size: 5rem
    float: left
    margin: -2% 2% -5% 0
    font-weight: 600
    font-family: gobold_boldregular