#blues .pCapital::first-letter
  color: #5E4A7B
  font-size: 5rem
  float: left
  margin: -2% 2% -5% 0
  font-weight: 600
  font-family: gobold_boldregular
.codigosQR
    display: flex
    justify-content: space-around
    // margin-top: 10vh
.codigosQR div p
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
.codigosQR div p
    text-align: center
#bnf-head
    margin: 0
    width: 100vw
#blues h1
    color: #01498D
    font-size: 4rem
    margin-bottom: 2rem
.galeria-blues
    background-image: url("../assets/img/galeria-blues.jpg")
    background-size: cover
    height: 50vh
    background-position: center center
    display: flex
    justify-content: center
    align-content: center
    align-items: center
.galeria-blues .ver
    background-color: #ffffff
    padding: 0.6% 1.2%
    width: 20vw
    box-sizing: border-box
    cursor: pointer
.galeria-blues .ver:hover
    transform: scale(1.2)
.galeria-blues .ver h1
    font-size: 2.5rem
    text-align: center
    font-family: dosissemibold
    color: #24388D
    z-index: 200
.gal-box
    display: flex
    justify-content: center
    align-content: center
    background-color: rgba(0,0,0,0.9)
    height: 100vh
    width: 100vw
    position: fixed
    top: 0
    left: 0
    backdrop-filter: blur(10px)
    transition-duration: 1s
    padding-top: 5vh
    box-sizing: border-box
    flex-direction: column
    z-index: 98
.gal-box.cerrrado
    display: none
    transition-duration: 1s
#cerrar-galeria
    font-size: 1.5rem
    width: 100vw
    margin-top: 5vh
    display: flex
    align-items: flex-end
    justify-content: flex-end
    padding: 0 5vw
    color: #ffffff
    cursor: pointer
#cerrar-galeria i 
    float: right
.experiencias-blues
    background-image: url(../assets/img/fondo-videos-blues.jpg)
    color: #ffffff
    font-family: dosisbook
    text-align: center
    padding: 5vh 0
.experiencias-blues .seccion
    display: flex
    justify-content: space-around
    padding: 0 20vw
    margin: 5vh 0
    align-items: center
    text-align: left
.experiencias-blues .seccion:nth-child(2)
    text-align: right
.experiencias-blues .seccion p
    padding-bottom: 0.5rem  
    border-bottom: solid 1rem #ffffff
