.bannerColombo
  height: 25vh
  background-color: $azul
  color: #fff
  margin-top: 8vh
  display: flex
  justify-content: flex-end
  z-index: 90
.bannerColombo div
  display: flex
  align-items: center
  justify-content: flex-end
.bannerColombo div h3
  letter-spacing: 0.7rem
.fotoCarta
  background-image: url("../assets/img/fotoCarta.jpg")
  background-size: cover
  height: 80vh
  color: #fff
.fotoCarta h1
  font-size: 8rem
  font-family: goboldregular !important
  text-align: right
  display: inline-flex
  margin: 3.8vh 0 3.8vh 30vw
.contenido-pagina
  padding: 5% 20vw
.contenido-pagina p
  text-align: justify
#carta .pCapital::first-letter
  color: #00988D
  font-size: 5rem
  float: left
  margin: -2% 2% -5% 0
  font-weight: 600
  font-family: gobold_boldregular

#carta .head
  display: flex
  align-items: center
  justify-content: center
  letter-spacing: 1.2rem
  max-width: 80vw
#carta .head img
  max-width: 30%
  margin-bottom: 5%
  margin-right: 5%

.carousel-inner .carousel-item img
  width: 100%

.videoYoutube
  display: block
  margin: auto
  max-width: 50vw

.div-fotoAmbiente
  display: flex
  width: 100vw
  justify-content: flex-end
  padding: 0 5vw
  margin: -3rem 0
.subir
  width: 100vw
  display: flex
  justify-content: flex-end
  padding-right: 5%
.fa-chevron-up
  color: #616160
  float: right
#titulo-carta
  color: #7D7D7C
  border-bottom: solid #000000 2px
  padding-bottom: 5px
#div-titulo-carta-directora p
  letter-spacing: 0
  text-align: left
  // font-size: 0.8rem
#jane-golden
  position: absolute
  bottom: 0
  right: 20%
.video-carta
  background-image: url(../assets/img/fondo-video-carta.png)  
  padding: 6%
  width: 100%
  background-position: center center
  background-size: contain
  background-repeat: no-repeat
@media only screen and (max-width: 800px)
  .bannerColombo img
    max-width: 40vw
  .bannerColombo div h3
    max-width: 50vw
    font-size: 0.9rem
    margin-right: 5px
  .fotoCarta
    background-position-x: center
  .fotoCarta h1 
    font-size: 6rem
  #carta .head
    max-width: 100vw
  #carta .head img
    max-width: 50%
  #carta .head h1
    font-size: 1.5rem  
    letter-spacing: 0.05rem
  .contenido-pagina
    padding: 5% 10vw
  .videoYoutube
    width: 95vw !important
    height: auto !important