$rosa: #E73E50
#cultura h1
  letter-spacing: 1rem
  color: #7D7D7C
  text-align: center

.cifras
  display: flex
  flex-direction: column
  border-top: solid $rosa 2rem
  margin-top: 5vh
  padding-top: 2vh
.cifras h1
  font-family: dosissemibold
  color: $rosa !important
  text-align: center
.cuadrosCifras
  display: flex
  justify-content: space-around
  flex-wrap: wrap
.cuadrosCifras .cuadro-info
  flex: 1 1 0
  padding: 3%
  // max-width: 6rem
  min-width: 8rem
  max-height: 15rem
  background-color: $rosa
  border-radius: 1rem
  color: #fff
  margin: 5% 5% 0 5%
  text-align: left
.cuadrosCifras div p
  border-bottom: solid #fff 0.1em
  font-size: 1rem
  height: 60%
  vertical-align: bottom
.mano
  height: 40%
  margin-top: -5%
  text-align: right
  display: block
  position: relative
.mano img
  height: 100%
  width: auto
  position: relative
  bottom: 0
.ventas
  background-color: #575756
  padding: 2%
  display: flex
  text-align: center
  padding: 2vh 15vw
  justify-content: space-around
.ventas .seccion-ventas
  background-color: #EF8160
  color: #ffffff
  border-radius: 15px
  display: flex
  flex-direction: column
  justify-content: center
  flex: 1 0 0
  margin: 2%
  padding: 2% 0
.ventas div img
  height: 2rem
.ventas div h5, h6 
  font-family: gobold