.fotoEstructura
  width: 100vw
  height: auto
  margin: 0

#estructura-organizacional
  width: 100vw
  padding: auto
  display: flex
  justify-content: center
  flex-direction: column
  margin: 0
#estructura-organizacional h1
  color: #7D7D7C
  letter-spacing: 1.8rem
  align-self: center

.directores
  display: flex
.directores div
  text-align: center
  flex: 1 1 0
  margin: 0 0 2%
.directores div p
  text-align: center

#junta h1
  font-family: dosissemibold
.junta
  background-image: url(../assets/img/fondo-directores.jpg)
  background-size: cover

#junta
  color: #fff
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center
  width: 100vw
  margin: 0
#miembros
  display: flex
  flex-wrap: wrap
  max-width: 50vw
  justify-content: space-between
#miembros div
  margin: 5%
#miembros div p
  text-align: center

#subirEstructura .fa-chevron-up
  color: #fff
