.foto-free-press
    background-image: url("../assets/img/head-fp.png")
    text-align: center
    padding: 12% 5%
    color: #ffffff
    background-size: cover
.foto-free-press h1 
    font-size: 6rem
    font-family: goboldregular !important
    text-align: left
    display: inline-flex
    letter-spacing: 1.8rem  
    color: #ffffff
#freepress
    display: flex
    padding: 0 15vw
    margin: 5vh 0
#freepress div div 
    margin: 0
#freepress .izq
    display: flex
    flex-direction: column
    width: 50%
    justify-content: flex-end
    align-content: flex-end
    align-items: flex-end
#freepress .der
    display: flex
    flex-direction: column
    width: 50%
    justify-content: flex-start
    align-content: flex-start
    align-items: flex-start