.head-galerias
    background-image: url(../assets/img/img-galerias.png)
    background-size: cover
    background-position: center center
    height: 70vh
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    color: #ffffff
    font-size: 6rem
.div-galeria
    display: flex
    justify-content: center
    margin: 5vh 0
    padding: 0 40vw
.div-galeria div
    background-color: #006B9C
    text-align: center
    color: #ffffff
    padding: 15% 5%
.div-galeria div div 
    background-color: #ffffff
    color: #006B9C
    border-radius: 25px
    width: 5rem
    height: 2rem
    padding: 0
    margin: auto
    cursor: pointer
.div-galeria div h3
    font-family: dosissemibold
.div-galeria div p 
    font-family: dosislight
.div-galeria#uno
    background-image: url(../assets/img/galeria-mt4w.jpg)
    background-size: cover
    background-position: center center
    height: 40vh
.div-galeria#dos
    background-image: url(../assets/img/galeria-afsc.jpg)
    background-size: cover
    background-position: center center
    height: 40vh
.div-galeria#tres
    background-image: url(../assets/img/galeria-bluegras.jpg)
    background-size: cover
    background-position: center center
    height: 40vh
.div-galeria#cuatro
    background-image: url(../assets/img/galeria-yale.jpg)
    background-size: cover
    background-position: center center
    height: 40vh
.completo-galeria
    display: flex
    flex-direction: column
    justify-content: center
    transition-duration: 500ms
.completo-galeria .wrapper.cerrado
    height: 0
    transition-duration: 500ms
.gal
    height: 50vh
.gal ifram
    height: 100%
    width: 100%
.video-galerias
    width: 100vw
    display: flex 
    justify-content: center
    align-content: center
    align-items: center 
    flex-direction: column
.video-galerias div:nth-child(2)
    width: 50%
    padding: 0 10vw 0 0
    align-self: flex-end
.video-galerias div p
    border-bottom: solid 1rem #797979
    color: #797979
    padding-bottom: 1rem 
    margin-top: 2rem
.video-galerias .video 
    // border-top: solid 0.2rem #797979
.video-galerias .video:before
    content: ""
    display: block
    width: 50%
    height: 100%
    padding: 10px
    border-top: solid 0.2rem #797979
    
