.fotoGestionCultural {
   background-image: url("../assets/img/foto-gestion-cultural.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no repeat;
     height: 60vh;
     color: #fff;
}

.fotoGestionCultural h1 {
  font-size:90px ;
  font-family: goboldregular !important;
  text-align:justify;
  display: inline-flex;
  margin: 3.8vh 0 3.8vh 30vw;
  letter-spacing: 1.8rem;
  padding-left: 550px;
}

.fotoGestionCultural h3 {
letter-spacing: 1.5rem;
position: absolute;
float:left;
padding-left: 900px;
padding-top: 230px;
}

/*CARTA-DEL-CULTURAL*/

#titulo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

#titulo-img h1 {
  font-size: 50px;
  margin-left: 40px;
  line-height: 1.3em;
}

#carta-director-cultural p {
display: flex;
align-items: center;
justify-content:center;
padding-top:100px;
font-size: 20px;
}

#carta-director-cultural.pCapital::first-letter {
  color: #00988D;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
}

/*BG-FOTO-CULTURAL*/

#fotocultural {
  background-image: url("../assets/img/foto-cultural.jpg");
  background-size:cover;
  max-width: 100%;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
}

#continuacion-director p {
  display: flex;
  align-items: center;
  justify-content:center;
  font-size: 20px;
}

#continuacion-director.pCapital::first-letter {
  color: #00988D;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
}

/*BG-KENNY-WESLEY*/

#kenny-wesley {
  background-image: url("../assets/img/kenny- wesley.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  }

#continuacion-director2 p {
    align-items: center;
    font-size: 20px;
}

#continuacion-director2.pCapital::first-letter {
  color: #00988D;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
}

#kenny-wesley2 {
  background-image: url("../assets/img/kenny2.jpg");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 70px;
}

    #kenny-wesley2 p {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    }

#videos {
  padding-top: 50px;
}

#catalina p {
  padding-top: 50px;
  text-align: left;
  font-size: 25px;
}

#espacio {
  margin-top: 50px;
}

#ricardo p {
  padding-top: 50px;
  text-align: right;
  font-size: 25px;
  margin-right: 80px;
}

#barra-1 {
  width: 200px;
  height: 3px;
  background-color: white;
}

#barra-2 {
  width: 200px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 265px;
}

@media (max-width: 1350px) {

  iframe {
    width: 450px;
    height: 253.125px;
  }

  #barra-2 {
    left: 200px;
  }

}
