#gestion-de-medios .pCapital::first-letter
    color: #678CA5
    font-size: 5rem
    float: left
    margin: -2% 2% -5% 0
    font-weight: 600
    font-family: gobold_boldregular
#gestion-de-medios h1 
    letter-spacing: 1rem
    color: #7D7D7C
    text-align: left
    margin-bottom: 4rem
.gestion-redes
    display: flex
    justify-content: space-around
    padding: 8vh 5vw
    margin-bottom: 12vh
    width: 100vw
    background-color: #9DC1DD
.gestion-redes a img
    max-width: 15vw
    // margin: 15%
.gestion-redes a img:hover
    transform: scale(1.1)
