$gris: #dddddd
$azul: #1B3F91
.banner
  width: 100%
  height: 92vh
  background-color: gray
  color: #fff
  padding: 5%
  display: flex
  justify-content: flex-end
  background-image: url("../assets/img/fondo-banner.jpg")
  background-size: cover

.banner h1
  font-size: 3rem
  letter-spacing: 0.6rem
  text-align: justify
  overflow-y: hidden

.abajo
  display: flex
  position: relative
  bottom: 0

.footer
  height: 40vh
  background-color: $azul
  color: #fff
  display: flex
  align-content: center
  align-items: center
  overflow-y: hidden
  position: relative
  z-index: 3
  // bottom: 0
// .creditos
//   position: absolute
//   bottom: 0
//   left: 2%
//   transition-duration: 1s
//   transform: translateY(0)
//   font-family: dosisbook
//   font-family: 'dosissemibold'
//   color: #696868
//   z-index: 99
//   overflow-y: hidden
//   // align-self: flex-start
//
// .creditosCerrado
//   z-index: 0
//   transform: translateY(90%) scale(0.8)
//   transition-duration: 1s
// .creditos #titulo
//   background-color: #fff
//   color: #696868
//   display: inline-flex
//   border-radius: 10px 10px 0 0
//   padding: 2%
//   cursor: pointer
//
// .creditos #contenido
//   background-color: #fff
//   color: #696868
//   border-radius: 0 10px 0 0
//   padding: 2%
//
// #contenido strong
//   background-color: #696868
//   color: #fff
//   padding: 1px 4px
//
// .cerrarCreditos
//   float: right
//   cursor: pointer

.footer .logos
  align-self: flex-start
  margin-top: 2%

.sedes
  font-size: 0.8rem
  display: flex
  flex-direction: column
  justify-content: center

.sedes p
  border-bottom: 15px #fff solid
  margin-bottom: -0.5%

.logos img:nth-child(2)
  border-left: 5px #fff solid

.sedes a
  color: #fff
  font-family: dosislight
  font-size: 1.5rem

.redesSociales
  display: flex
  justify-content: flex-start
.redesSociales a img
  max-width: 2vw
  margin-right: 0.8rem
.redesSociales a img:hover
  transform: scale(1.1)

@media only screen and (max-width: 800px)
  .footer
    flex-direction: column
    padding: 2%

  .logos img:nth-child(2)
    border: none
    margin: 2% auto

  .tituloBanner
    margin-top: 25%
