.fotoInversion
    background-image: url("../assets/img/foto-inversion.jpg")
    text-align: center
    padding: 12% 5%
    color: #ffffff
    margin-bottom: 2%
.fotoInversion h1 
    font-size: 6rem
    font-family: goboldregular !important
    text-align: left
    display: inline-flex
    // margin: 3.8vh 0 3.8vh 30vw
    letter-spacing: 1.8rem  
.fotoInversion h2
    font-size: 3rem
    font-family: goboldregular !important
    text-align: left
    display: inline-flex
    // margin: 3.8vh 0 2.0vh 30vw
    letter-spacing: 1.8rem
#descuentos 
    background-image: url("../assets/img/foto-descuentos.jpg")
    text-align: left
    padding: 12% 20%
#descuentos h1
    font-size: 4rem
#descuentos h2
    padding: 2%
    font-size: 2rem
    display: inline-flex
    border-top: solid #fff 0.8rem
.contenedor-info-inversion
    display: flex
    // justify-content: space-between
    flex: 1 1 auto
    width: 100vw
    margin: 0 0 15vh 0
.info-inversion
    margin: 0
    padding: 1.4%
    height: 70vh
    width: 16.6vw
    color: #fff
.info-inversion .linea
    max-width: 35vh
    z-index: 50
    position: relative
.imagen-inversion
    position: relative
    margin: 0 20%
    width: 6vw
.info-inversion:nth-child(1)
    background-image: url("../assets/img/info-inversion-1.jpg")
    background-size: cover
.info-inversion:nth-child(1) .imagen-inversion
    margin-top: 25%
.info-inversion:nth-child(2)
    background-image: url("../assets/img/info-inversion-2.jpg")
    background-size: cover
.info-inversion:nth-child(2) .imagen-inversion
    margin-bottom: 35%
    margin-top: 25%
.info-inversion:nth-child(3)
    background-image: url("../assets/img/info-inversion-3.jpg")
    background-size: cover
.info-inversion:nth-child(3) .imagen-inversion
    margin-top: 45%
.info-inversion:nth-child(4)
    background-image: url("../assets/img/info-inversion-4.jpg")
    background-size: cover
.info-inversion:nth-child(4) .imagen-inversion
    margin-top: 40%
    margin-bottom: 40%
.info-inversion:nth-child(5)
    background-image: url("../assets/img/info-inversion-5.jpg")
    background-size: cover
.info-inversion:nth-child(5) .imagen-inversion
    margin-top: 40%
    margin-bottom: 40%
.info-inversion:nth-child(6)
    background-image: url("../assets/img/info-inversion-6.jpg")
    background-size: cover
.info-inversion:nth-child(6) .imagen-inversion
    margin-top: 40%
    margin-bottom: 40%