$azul-claro: #00ACC3
$amarillo: #FFEC00
$morado: #8C4693
$naranja: #F6A500
.foto-inversion-cultural
    background-image: url("../assets/img/inversion-cultural.jpg")
    text-align: center
    padding: 12% 5%
    color: #ffffff
.foto-inversion-cultural h1 
    font-size: 6rem
    font-family: goboldregular !important
    text-align: left
    display: inline-flex
    letter-spacing: 1.8rem  
    color: #00ACC3
.foto-inversion-cultural h2
    font-size: 3rem
    font-family: goboldregular !important
    text-align: left
    display: inline-flex
    letter-spacing: 1.8rem
    color: #FFEC00
.bg-azul
    background-color: $azul-claro
    padding: 10vh
.barra
    display: flex
    margin: -5% 0 10px
    padding: 0 19vw 0 31vw
    // background-color: rgba(0,0,0,0.4)
.barra .amarillo
    background-color: $amarillo
    min-height: 1rem
    width: 51%
.barra .morado
    background-color: $morado
    min-height: 1rem
    width: 20.89%
.barra .naranja
    background-color: $naranja
    min-height: 1rem
    width: 28.11%
#contenido-inversion-cultural h6
    color: #ffffff
#contenido-inversion-cultural h1, #contenido-inversion-cultural h3
    color: #192D4C
.bg-personas
    background-image: url("../assets/img/bg-personas.jpg")
    background-size: cover
    padding: 15vh 25vw
    display: flex
.izquierda
    max-width: 50%
    display: flex
    flex-direction: column
.izquierda #divEventos
    display: flex
    flex-direction: row
.bg-personas h1 
    font-size: 7rem
    color: #192D4C
.eventos
    color: #ffffff
    max-width: 40%
.eventos img
    max-width: 100%
.izquierda .gif-personas
    border-top: 0.7rem solid #ffffff 
    width: 100%
    text-align: justify
    padding-top: 2%
.derecha
    width: 50%
    color: #ffffff
    margin-left: 2%
.derecha div:nth-child(1) h2
    color: $naranja
    width: 80%
    font-size: 3rem
.derecha div:nth-child(1)
    border-bottom: solid 5px #ffffff
    margin-bottom: 5%
.persona
    margin: 1% 0.2%
.bibliotecas-cifras
    background-color: #8C4693
    position: relative
.bibliotecas-cifras .contenido-pagina
    display: flex
    justify-content: space-around
.bibliotecas-cifras #titulo
    background-color: #192D4C
    color: #ffffff !important
    padding: 5px 20px 5px 5px
    text-align: left
    position: absolute
    top: 0
    font-size: 0.5rem
.bibliotecas-cifras div
    // font-size: 4rem
    color: #192D4C
.bibliotecas-cifras div h6
    color: #ffffff
.bibliotecas-cifras .contenido-pagina
    padding: 7vh 15vw
.bibliotecas-cifras .contenido-pagina .cifra-grande
    font-size: 5rem
    margin: auto
#cifras 
    display: flex
    width: 100%
    padding: 0
    justify-content: space-between
    margin-top: 5%
.personas-amarillas
    width: 100%
    display: flex
    justify-content: space-between
.pc-cifras
    display: flex
    align-items: center
.pc-cifras div
    height: 100%
    margin-left: 5%

.free-press
    background-color: #F6A500
    position: relative
    padding: 5vh 0
.free-press .contenido-pagina
    display: flex
    justify-content: space-between
    padding: 7vh 15vw
.free-press #titulo
    background-color: #192D4C
    color: #ffffff !important
    padding: 5px 20px 5px 5px
    width: 49%
    text-align: left
    position: absolute
    top: 0
    font-size: 0.5rem
.free-press div
    color: #192D4C
.free-press div h6
    color: #ffffff
.free-press .contenido-pagina .cifra-grande
    font-size: 5rem
    margin: auto
.fp-cifras
    display: flex
    justify-content: space-between
    box-sizing: border-box
    width: 100%
.fp-izquierda
    display: flex
    width: 40%
    align-items: flex-end
    padding-right: 15%
    border-right: solid 4px #192D4C
    box-sizing: border-box
.fp-derecha
    width: 60%
    display: flex
    justify-content: space-between
.fp-derecha div 
    margin: 5%
    text-align: center