$grisMenu: rgba(0,0,0,0.9)
$gris: #dddddd
$azul: #1B3F91
.menuPpal
  position: fixed
  width: 100vw
  color: #fff
  display: flex
  flex-direction: column
  z-index: 98

#myBar
  background-color: #E30613
  width: 0
  height: 0.5vh
  z-index: 200

.barraSuperior
  height: 8vh
  width: 100vw
  background-color: #000
  z-index: 5
  display: flex
  justify-content: space-between
  align-content: center
  align-items: center
  padding: 0.5% 5%

.barraSuperior a
  color: #fff
.barraSuperior h4
  font-size: 1.3rem

.desplegable
  display: flex
  transition-duration: 1s
  background-color: $grisMenu
  justify-content: space-around

.desplegable div
  padding: 2%
  box-sizing: border-box

.desplegable div a
  color: #fff
  font-size: 1rem
  letter-spacing: 0.05rem
  font-family: dosissemibold 

.cerrado
  transform: translateY(-100vh)
  height: 0
  transition-duration: 1s
  z-index: -1
  pointer-events: none

.desplegable div:nth-child(1) a:nth-child(1):hover
  text-decoration: none
  border-bottom: 2px solid #00988D
  text-align: right
.desplegable div:nth-child(1) h3:nth-child(2) a:hover
  text-decoration: none
  border-bottom: 2px solid #DD8561
  text-align: right
.desplegable div:nth-child(1) h3:nth-child(3) a:hover
  text-decoration: none
  border-bottom: 2px solid #92144B
  text-align: right
.desplegable div:nth-child(1) h3:nth-child(4) a:hover
  text-decoration: none
  border-bottom: 2px solid #B1A100
  text-align: right



#btnMenu
  transform: scale(0.9)

#btnMenu:hover
  cursor: pointer
  transform: scale(1)
  transform-origin: center

.barraInferior
  display: flex
  justify-content: center
  align-content: center
  color: #fff
  padding: 1% 0
  cursor: pointer
  background-color: $grisMenu
  transition-duration: 1s

.barraInferior i:hover
  transform: scale(1.2)
  color: #BF0811

.creditos
  overflow-y: hidden
  z-index: 500
  font-family: dosisbook
  color: #696868
  position: relative
  bottom: 0
  margin-top: -26.7%
.creditos #titulo
  background-color: #fff
  color: #696868
  display: inline-flex
  font-size: 0.5rem
  border-radius: 10px 10px 0 0
  padding: 2%
  cursor: pointer
  transition-duration: 1s
  transform-origin: bottom center

.creditos #contenido
  background-color: #fff
  color: #696868
  border-radius: 0 10px 0 0
  padding: 2%
  transition-duration: 1s
  transform-origin: bottom center

#contenido strong
  background-color: #696868
  color: #fff
  padding: 1px 4px

.cerrarCreditos
  float: right
.creditosCerrado
  transition-duration: 1s
  transform-origin: bottom
  z-index: 1
.creditosCerrado #titulo
  transform: translateY(650%)
  transition-duration: 1s
.creditosCerrado #contenido
  transform: scaleY(0)
  transition-duration: 1s
  transform-origin: bottom center


@media only screen and (max-width: 800px)
  .desplegable
    flex-direction: column
    justify-content: center
  .desplegable div
    box-sizing: border-box
  .desplegable div a
    border: solid 1px $gris
    display: block
    width: 100%
    padding: 0.8%
  .barraInferior
    // display: none
