#responsabilidad
    background-image: url('../assets/img/responsabilidad-cifras-banner.jpg')
#responsabilidad h1
    color: #EE7855
    font-size: 8rem
#responsabilidad h2 
    color: white
    font-size: 4rem
#responsabilidad h2::first-letter
    font-size: 5rem
.descuentos
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center
    align-items: center
.descuentos:last-child
    margin-bottom: 35vh
.descuentos h2
    color: #E73E50
    letter-spacing: 0.8rem
    font-family: dosissemibold
.descuentos h1
    font-family: gobold
    letter-spacing: 50%
    color: #FFEC00
.descuentos p 
    text-align: left
    padding: 25 vw
.div-cifras
    display: flex
    justify-content: space-around
    align-content: center
    align-items: center
    color: #ffffff
    background-color: #CB3E4A
    width: 100vw
    padding: 0 25vw

.gif-responsabilidad
    display: flex
    align-items: center
.gif-responsabilidad h3
    border-right: solid #ffffff 8px
    height: 100%
    padding-right: 5%
.gif-responsabilidad img
    max-height: 15vh 
    padding-left: 5%
.div-texto
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    padding: 8vh
.descuentos-ultimo
    margin-bottom: 30vh
.linea-morada
    background-color: #92144B
    width: 10vw
    height: 0.7rem
    margin: auto auto 5% auto