/*------------------------QUIÉNES SOMOS ---------------------------*/
#quienessomos {
  background-color: #00666B;
  height: 80%;
  max-width: 100%;
}

#titulo-qs {
 text-align: center;
  padding-top: 100px;
}

#texto-rotado {
  font-size: 20px;
  letter-spacing: 1rem;
  transform: rotate(270deg);
  display: block;
  position: absolute;
  left: 520px;
  top: 70px;

}

@media (max-width: 1350px) {
  #texto-rotado {
    left: 250px;
  }
}

/* line 8, ../sass/_estructura.sass */

#quienessomos h1 {
   color: #ffffff;
   letter-spacing: 1.8rem;
   font-size: 160px;
   position:relative;
   }

#quienessomos p {
  font-size: 22px;
  font-family: dosislight;
  text-align: justify;
  padding-top:-100px;
  color: white;
   }

#quienessomos h3 {
  color: #ffffff;
  margin-left: 190px;
  margin-top: 50%;
  font-size:23px;
  position:relative;
}


#Mision h1{
  color:#7D7D7C;
  letter-spacing: 1.8rem;
  }

#Mision p {
  font-size:22px;
  font-size:dosislight;
  text-align:justify;
  padding-top:5%;
}

#Vision {
  background-image: url("../assets/img/fondo-vision.png");
  background-position: center;
  background-size: cover;
  height: 50%;
}

#Vision p{
  font-size:22px;
  font-size:dosislight;
  text-align:justify;
  padding-top:5%;
  color: white;
  }


#Vision h1{
  color:#ffffff;
  letter-spacing: 1.8rem;
 }

#Social {
   background-color:#00666B;
  }

#Social h1 {
  letter-spacing: 1.8rem;
  color: #ffffff;
  line-height: 3.5rem;
}

#Social p {
font-size: 22px;
color: #ffffff;
text-align: justify;
font-family: dosislight;
padding-top:5%;
   }

   .subirEstructura{
     width: 100vw;
     display: flex;
     justify-content: flex-end;
     padding-right: 5%;
   }
   .fa-chevron-up{
     color: #616160;
     float: right; 
   }






/*........................... PROGRAMAS RESPONSABILIDAD SOCIAL ......................................*/

/*REGLAS GENERALES*/

.contenido-pagina {
  text-align: justify;
  font-size: 20px;
  font-family: dosislight;
  margin: 0px 0px;
}

/*SLIDE PRINCIPAL*/

.fotoResponsabilidad {
   background-image: url("../assets/img/foto-responsabilidad-social.png");
    background-size: cover;
     height: 50vh;
     color: #fff;
    }

/* line 19, ../sass/_carta.sass */
.fotoResponsabilidad h1 {
  font-size: 60px;
  font-family: goboldregular !important;
  text-align: left;
  letter-spacing: 20px;
  line-height: 70px;
}

#titulo-prs {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  padding-top: 100px;
}

/*TITULOS NOMBRES PROGRAMAS*/

 .col-container {
     display: flex;
     width:90%;
     padding-left: 190px;
     letter-spacing: 0.1rem; font-family:dosisSemiBold;
     cursor: pointer;
 }

 .col {
     flex: 1;
     padding: 12px;
     font-size: 25px;
     color: #666565;
 }

 .col-barras{
     display: flex;
     height: 20px;
   }

/*PERSONALIZACIÓN DE BARRAS DE COLORES*/

#luther {
  background-color: #E73E50;
  margin-top: 40px;
  width: 100px;
}

#college {
 background-color:#5B7EB3;
 margin-top: 40px;
 width: 100px;
}

#community {
 background-color:#C1B000;
 margin-top: 40px;
 width: 120px;
}

#programa {
 background-color:#E73E50;
 margin-top: 5px;
 width: 120px;
}

#programastudent{
  background-color: #92144B;
  margin-top: 40px;
  width: 120px;
}

#ingles {
 background-color:#F49C35;
 margin-top: 5px;
 width: 180px;
}

/*SLIDE MARTIN LUTHER KING */

#fotoMartin {
  background-image: url("../assets/img/foto-martin.png");
  background-size:cover;
  max-width: 100%;
  height: 60vh;
  padding-top: 50px;
 }

#fotoMartin h1 {
  color: #ffffff;
  font-size: 70px;
  font-family: goboldregular !important;
  text-align: left;
  letter-spacing: 1.8rem;
  }

  #titulo-mlk {
    display: flex;
    justify-content: center;
    padding-top: 240px;
  }

  #barra-martin {
    height: 20px;
    width: 400px;
    background-color: #E73E50;
    margin: 0 auto;
    display: relative;
    }

@media (max-width: 1350px) {

  #titulo-mlk {
    display: flex;
    justify-content: center;
    padding-top: 150px;
  }

  #barra-martin {
    height: 20px;
    width: 400px;
    background-color: #E73E50;
    margin: 0 auto;
    display: relative;
    }
}



/*LETRA CAPITAL E*/

#Martin .capital::first-letter {
  color: #EF847B;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
     }

@media (max-width: 1350px) {
  #texto-martin {
    padding-bottom: 50px;
  }
}

/*CAJA CON PRESUPUESTO DE INVERSIÓN*/

.cuadro {
font-family:dosislight;
background:#FFFFFF;
padding: 15px;
width: 650px;
height: 135px;
border-style: solid;
border-color: #757474;
margin: 0px auto;
margin-top: -80px;
}

.cuadro p {
  font-size: 20px;
  color: #575756;
  text-align: center;
}

.cuadro h1 {
  text-align: center;
  color: #EF847B;
}

/*SLIDE GALERIA*/

.galeria-programas {
  background-image: url("../assets/img/tres.png");
  background-size: cover;
  height: 50vh;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ver-galeria{
    background-color: #ffffff;
    padding: 0.6% 1.2%;
    width: 20vw;
    box-sizing: border-box;
    cursor: pointer;
  }
 .ver-galeria:hover{
    transform: scale(1.2);
  }
.galeria-programas .ver-galeria h1{
    font-size: 2.5rem;
    text-align: center;
    font-family: dosissemibold;
    color: #E73E50;
    z-index: 200;
}

/*CARRUSEL GALERIA */

.body {
  overflow: hidden;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrapper {
  width: 80vw;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
}
.carousel-container {
  margin: 5px auto;
  height: 100%;
  padding-top: 50%;
  border: none;
  overflow: hidden;
  position: relative;
}

.carousel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  background-color: green;
  padding: 0;
  white-space: nowrap;
  z-index: 1;
}

.carousel li {
  list-style-type: none;
  display: inline-block;
  height: 130%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.carousel li img {
  height: 100%;
  width: 100%;
}

.thumbnails {
  position: relative;
  margin: auto;
  text-align: center;
  padding: 0;}

.thumbnails li {
  display: inline-block;
  list-style-type: none;
  max-width: 100px;
  padding: 0;
  border: none;
  margin: 5px;
  transition: 0.25s;
  box-sizing: border-box;

}

.thumbnails li img {
  height: 100%;
  width: 100%;
  vertical-align: text-bottom;
}

.thumbnails li.active, .thumbnails li:hover {
  border: 5px orange solid;
}

.arrow {
  z-index: 10;
  position: absolute;
  padding: 20% 5px;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.arrow i:hover {
  color: #fff;
}

.arrow i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  opacity: 0.7;
}

.right-arrow {
  right: 0;
}

div.ui-loader {
  display: none;
}

/*VIDEO_YANNIPAOLO*/

#video-YanniPaolo {
  margin-top: 100px;
  text-align: center;
}

#titulo-linea {
  margin-left: 58%;
  margin-bottom: 80px;
}

#linea {
  width: 200px;
  height: 10px;
  background-color: #616160;
}

/*SLIDE COLLEGE HORIZONS*/

#fotoCollege {
  background-image: url("../assets/img/college-horizons.png");
  background-size:cover;
  max-width: 100%;
  height: 70vh;
  padding-top: 50px;
  background-position: 15%;
   }

/*TITULO COLLEGE HORIZONS*/

#fotoCollege h1 {
  color: #ffffff;
  font-size: 70px;
  font-family: goboldregular !important;
  text-align: left;
  letter-spacing: 1.8rem;
  }

#titulo-chp {
  display: flex;
  justify-content: center;
  margin: 320px auto;
}

#barra-college{
  height: 20px;
  width: 400px;
  background-color: #86A0D2;
  margin: -310px auto;
  display: flex;
}

@media (max-width: 1350px) {

  #titulo-chp {
    display: flex;
    justify-content: center;
    margin: 200px auto;
  }

  #barra-college{
    height: 20px;
    width: 400px;
    background-color: #86A0D2;
    margin: -180px auto;
    display: relative;
  }
}

#College .capital::first-letter {
  color: #86A0D2;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
}

@media (max-width: 1350px) {

  #texto-college {
    padding-bottom: 50px;
  }
}


.cuadro-college {
  font-family: dosislight;
  background:#FFFFFF;
  padding: 15px;
  width: 650px;
  height: 135px;
  border-style: solid;
  border-color: #757474;
  margin: 0px auto;
  margin-top: -80px;
  margin-bottom: 40px;
}

.cuadro-college p {
  font-size: 20px;
  color: #575756;
  text-align: center;
}

.cuadro-college h1 {
  text-align: center;
  color: #5B7EB3;
}

/* -------------------------COMMUNITY -------------------------------*/

#fotocommunity {
  background-image: url("../assets/img/community.png");
  background-size:cover;
  max-width: 100%;
  height: 70vh;
  padding-top: 50px;
  background-position: 15%;
}

#fotocommunity h1 {
  color: #ffffff;
  font-size: 70px;
  font-family: goboldregular !important;
  text-align: left;
  letter-spacing: 1.8rem;
  margin-top: 5em;
}

#titulo-cci {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

#barra-community {
  height: 20px;
  width: 400px;
  background-color: #C1B000;
  margin: 0px auto;
  display: flex;
}

@media (max-width: 1350px) {

  #titulo-cci {
    display: flex;
    justify-content: center;
    margin: -110px auto;
  }

  #barra-community {
    height: 20px;
    width: 400px;
    background-color: #C1B000;
    margin: 110px auto;
    display: flex;
  }
}

#Community .capital::first-letter {
  color: #D7CB77;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
}

/*TESTIMONIOS*/

.fotoTestimonios {
  background-image: url("../assets/img/foto-testimonios.png");
  background-size: cover;
  position: relative;
  height: 361px;
  padding-top: 145px;
 }

 .fotoTestimonios h1 {
   color: #ffffff;
   font-size: 70px;
   font-family: goboldregular !important;
   text-align: left;
   letter-spacing: 1.8rem;
 }

 #titulo-testimonios {
   display: flex;
   justify-content: center;
   margin: 0px auto;
 }

.menu2{
  letter-spacing: 0.2rem;
  font-family:dosislight;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
     max-width: 100%;
}
/*SLIDE-COMPONENTES*/

.cd-testimonials-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #C3E4E9;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 150px 50px;
    z-index: 1;
}

.cd-testimonials {
  color: #1d1d1b;
  text-align: center;
}

.cd-testimonials::after {
  clear: both;
  content: "";
  display: table;
}

.cd-testimonials > li {
position: absolute;
opacity: 0;
}

.cd-testimonials > li:first-child {
  position: relative;
  opacity: 1;
}

.cd-testimonials p {
  font-size: 18px;
  line-height: 1.4;
  color: #1d1d1b;
}

@media only screen and (min-width: 768px) {
     .cd-testimonials p {
       font-size: 22px;
     }

}
   @media only screen and (min-width: 1170px) {
     .cd-testimonials p {
       font-size: 26px;
       line-height: 1.6;
     }
}

.cd-author-chico-2 img, .cd-author-chico-2 .cd-author-info {
     display: inline-block;
     vertical-align: middle;
     font-size: 20px;
}

.cd-author-chico-2 .cd-author-info {
  text-align: left;
  line-height: 1.2;
}

.cd-autor-chica  .cd-author-info-chica {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-align: left;
}

.cd-autor-chico .cd-autor-info-chico {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-align: left;
}

ul {
  list-style: none;
}

.cd-author-chico-2 .cd-author-info li:first-child {
  font-size: 20px;
  color: #1d1d1b;
}

.cd-author-chico-2 .cd-author-info li:last-child {
  font-size: 20px;
  color: #1d1d1b;
}

@media only screen and (min-width: 768px) {

     .cd-author-chico-2 .cd-author-info li:first-child {
       font-size: 20px;
     }

     .cd-author-chico-2 .cd-author-info li:last-child {
       font-size: 20px;
     }
}

.flex-direction-nav li {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
}

.flex-direction-nav li:first-child {
   left: 0;
}

.flex-direction-nav li:last-child {
  right: 0;
}

.flex-direction-nav li a {
     display: block;
     height: 100%;
     width: 100%;
     /* image replacement */
     overflow: hidden;
     text-indent: 100%;
     white-space: nowrap;
     -webkit-transition: background-color 0.2s;
     -moz-transition: background-color 0.2s;
     transition: background-color 0.2s;
}

.no-touch .flex-direction-nav li a:hover {
     background-color: #79b6e4;
}

.flex-direction-nav li a::before, .flex-direction-nav li a::after {
     /* left and right arrows in css only */
     content: '';
     position: absolute;
     left: 50%;
     top: 50%;
     width: 2px;
     height: 13px;
     background-color: #79b6e4;
   }

   .flex-direction-nav li a::before {
     -webkit-transform: translateY(-35px) rotate(45deg);
     -moz-transform: translateY(-35px) rotate(45deg);
     -ms-transform: translateY(-35px) rotate(45deg);
     -o-transform: translateY(-35px) rotate(45deg);
     transform: translateY(-35px) rotate(45deg);
   }
   .flex-direction-nav li a::after {
     -webkit-transform: translateY(-27px) rotate(-45deg);
     -moz-transform: translateY(-27px) rotate(-45deg);
     -ms-transform: translateY(-27px) rotate(-45deg);
     -o-transform: translateY(-27px) rotate(-45deg);
     transform: translateY(-27px) rotate(-45deg);
   }
   .flex-direction-nav li:last-child a::before {
     -webkit-transform: translateY(-35px) rotate(-45deg);
     -moz-transform: translateY(-35px) rotate(-45deg);
     -ms-transform: translateY(-35px) rotate(-45deg);
     -o-transform: translateY(-35px) rotate(-45deg);
     transform: translateY(-35px) rotate(-45deg);
   }
   .flex-direction-nav li:last-child a::after {
     -webkit-transform: translateY(-27px) rotate(45deg);
     -moz-transform: translateY(-27px) rotate(45deg);
     -ms-transform: translateY(-27px) rotate(45deg);
     -o-transform: translateY(-27px) rotate(45deg);
     transform: translateY(-27px) rotate(45deg);
   }
   @media only screen and (min-width: 768px) {
     .flex-direction-nav li {
       width: 50px;
     }
   }
   @media only screen and (min-width: 1170px) {
     .flex-direction-nav li a::before, .flex-direction-nav li a::after {
       background-color: #5e5e63;
       -webkit-transition: background-color 0.2s;
       -moz-transition: background-color 0.2s;
       transition: background-color 0.2s;
     }
     .flex-direction-nav li a:hover::before, .flex-direction-nav li a:hover::after {
       background-color: #ffffff;
     }
   }

   .cd-see-all {
     position: absolute;
     z-index: 1;
     bottom: 0;
     width: 100%;
     height: 50px;
     line-height: 50px;
     background-color: #c3e4e9;
     text-align: center;
     color: #1d1d1b;
     font-size: 18px;
     font-weight: bold;
     -webkit-transition: color, 0.2s;
     -moz-transition: color, 0.2s;
     transition: color, 0.2s;
   }

   .no-touch .cd-see-all:hover {
     color: #1d1d1b;
     font-size: 20px;
   }

   .cd-testimonials-all {
     position: fixed;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background-color: #ffffff;
     z-index: 2;
     visibility: hidden;
     opacity: 0;
     -webkit-transition: opacity .3s 0s, visibility 0s .3s;
     -moz-transition: opacity .3s 0s, visibility 0s .3s;
     transition: opacity .3s 0s, visibility 0s .3s;
   }
   .cd-testimonials-all .cd-testimonials-all-wrapper {
     position: absolute;
     left: 10%;
     top: 15%;
     height: 100%;
     width: 100%;
     overflow: auto;
   }
   .cd-testimonials-all .cd-testimonials-all-wrapper > ul {
     width: 100%;
     max-width: 1920px;
     margin: 0px auto;
   }
   .cd-testimonials-all .cd-testimonials-all-wrapper > ul::after {
     clear: both;
     content: "";
     display: table;
   }
   .cd-testimonials-all .cd-testimonials-item {
     margin-bottom: 2em;
     opacity: 0;
     /* Force Hardware Acceleration in WebKit */
     -webkit-transform: translate3d(0, 0, 0) scale(0.4);
     -moz-transform: translate3d(0, 0, 0) scale(0.4);
     -ms-transform: translate3d(0, 0, 0) scale(0.4);
     -o-transform: translate3d(0, 0, 0) scale(0.4);
     transform: translate3d(0, 0, 0) scale(0.4);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transition: -webkit-transform .3s, opacity .3s;
     -moz-transition: -moz-transform .3s, opacity .3s;
     transition: transform .3s, opacity .3s;
   }
   .cd-testimonials-all p {
     position: relative;
     background: #79b6e4;
     color: #ffffff;
     padding: 2em;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     line-height: 1.4;
     border-radius: 0.25em;
     margin-bottom: 1em;
   }

   .cd-testimonials-all p::after {
     /* creating the triangle in css */
     content: '';
     position: absolute;
     top: 100%;
     left: 2em;
     height: 0;
     width: 0;
     border: 8px solid transparent;
     border-top-color: #79b6e4;
   }

  .cd-testimonials-all .cd-author {
     text-align: left;
     margin-left: 1.5em;
   }

   .cd-testimonials-all .cd-author img {
     box-shadow: 0 0 0 transparent;
   }

   .cd-testimonials-all.is-visible {
     visibility: visible;
     opacity: 1;
     -webkit-transition: opacity .3s 0s, visibility 0s 0s;
     -moz-transition: opacity .3s 0s, visibility 0s 0s;
     transition: opacity .3s 0s, visibility 0s 0s;
   }

   .cd-testimonials-all.is-visible .cd-testimonials-all-wrapper {
     -webkit-overflow-scrolling: touch;
   }

   .cd-testimonials-all.is-visible .cd-testimonials-item {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0) scale(1);
     -moz-transform: translate3d(0, 0, 0) scale(1);
     -ms-transform: translate3d(0, 0, 0) scale(1);
     -o-transform: translate3d(0, 0, 0) scale(1);
     transform: translate3d(0, 0, 0) scale(1);
   }

   @media only screen and (min-width: 768px) {
     .cd-testimonials-all .cd-testimonials-item {
       width: 46%;
       margin: 0 2% 3em;
     }
     .cd-testimonials-all .cd-author {
       margin-left: 1em;
     }

   }
   @media only screen and (min-width: 1170px) {
     .cd-testimonials-all .cd-testimonials-item {
       width: 35%;
       margin: 0 1.6666% 3em;
     }
   }

   .close-btn {
     position: fixed;
     display: block;
     width: 40px;
     height: 40px;
     top: 100px;
     right: 5%;
     /* image replacement */
     overflow: hidden;
     text-indent: 100%;
     white-space: nowrap;
   }
   .close-btn::before, .close-btn::after {
     /* close icon in css */
     content: '';
     position: absolute;
     display: inline-block;
     width: 2px;
     height: 24px;
     top: 20px;
     left: 19px;
     background-color: #39393c;
   }
   .close-btn::before {
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
   }
   .close-btn::after {
     -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     -o-transform: rotate(-45deg);
     transform: rotate(-45deg);
   }

/* BECAS PARA NIÑAS BUGA */

#foto-becas-niñas {
  background-image: url("../assets/img/becas-niñas.png");
  background-size:cover;
  max-width: 100%;
  height: 60vh;
  padding-top: 50px;
  background-position: 15%;
}

#foto-becas-niñas h1 {
  color: #ffffff;
  font-size: 70px;
  font-family: goboldregular !important;
  text-align: left;
  letter-spacing: 1.8rem;
}

#titulo-pbnb {
  display:flex;
  justify-content: center;
  margin: 150px auto;
}

#barra-beca-niñas {
  height: 20px;
  width: 400px;
  background-color: #E73E50;
  margin: -140px auto;
  display: block;
}

@media (max-width: 1350px) {

  #titulo-pbnb {
    display:flex;
    justify-content: center;
    margin: 50px auto;
  }

#barra-beca-niñas {
    height: 20px;
    width: 400px;
    background-color: #E73E50;
    margin: -30px auto;
    display: block;
    }

    #foto-niñas-buga img {
      display: flex;
      justify-content: center;
      padding-bottom: 50px;
    }
}

#beca-niñas .capital::first-letter {
      color: #EC6B70;
      font-size: 5rem;
      float: left;
      margin: -2% 2% -2% 0;
      font-weight: 600;
      font-family: gobold_boldregular;
         }

#foto-niñas {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.cuadro-niñasbuga {
font-family:dosislight;
background:#FFFFFF;
padding: 15px;
width: 650px;
height: 135px;
border-style: solid;
border-color: #757474;
margin: 0px auto;
}

.cuadro-niñasbuga p {
  font-size: 20px;
  color: #575756;
  text-align: center;
}
.cuadro-niñasbuga h1 {
  text-align: center;
  color: #E73E50;
}

#video-maria-paula {
  text-align: center;
  padding: 30px 0px;
}

#titulo-linea-2 {
  margin-left: 58%;
  margin-bottom: 80px;
}

#linea-2 {
  width: 215px;
  height: 10px;
  background-color: #616160;
}

/*STUDENT-WORKER*/

#fotostudent-worker {
  background-image: url("../assets/img/foto-student-worker.png");
  background-size:cover;
  height: 60vh;
  padding-top:50px;
}

#titulo-psw {
  display: flex;
  justify-content: center;
  margin: 210px auto;
}

#fotostudent-worker h1 {
  color: #ffffff;
  font-size: 70px;
  font-family: goboldregular !important;
  text-align: left;
  letter-spacing: 1.8rem;
}

#barra-student-worker {
  height: 20px;
  width: 400px;
  background-color: #92144B;
  margin: -180px auto;
  display: block;
}

@media (max-width: 1350px) {

  #titulo-psw {
    display: flex;
    justify-content: center;
    margin: 140px auto;
  }

  #barra-student-worker {
    height: 20px;
    width: 400px;
    background-color: #92144B;
    margin: -140px auto;
    display: block;
  }
}

#programastudentworker {
  padding-bottom: 50px !important;
}

#programastudentworker .capital::first-letter {
      color: #C64B7D;
      font-size: 5rem;
      float: left;
      margin: -2% 2% -2% 0;
      font-weight: 600;
      font-family: gobold_boldregular;
         }

.cuadro-studentworker {
font-family: dosislight;
background: #FFFFFF;
padding: 20px;
padding-bottom: 30px;
width: 650px;
height: 150px;
border-style: solid;
border-color: #757474;
margin: 0px auto;
}

.cuadro-studentworker p {
  font-size: 20px;
  color: #575756;
  text-align: center;
}

.cuadro-studentworker h1 {
  text-align: center;
  color: #92144B;
}

#video-miyerlandy {
padding-top: 50px;
text-align: center;
padding: 30px 0px;
}

#titulo-linea-3 {
  margin-left: 58%;
  margin-bottom: 80px;
}

#linea-3 {
  width: 215px;
  height: 10px;
  background-color: #616160;
}

/*INGLÉS PARA NIÑOS EN VULNERABILIDAD*/

#foto-ingles-para-niños {
  background-color:#F49C35;
  width:100%;
  height:550px;
   }

#foto-ingles-para-niños h1 {
  color: #ffffff;
  font-size: 70px;
  font-family: goboldregular !important;
  text-align: left;
  display: flex;
  justify-content: center;
  letter-spacing: 1.8rem;
  margin-top: 3em;
  line-height: 80px;
}

#ingles-niños .capital::first-letter {
  color: #F8B975;
  font-size: 5rem;
  float: left;
  margin: -2% 2% -2% 0;
  font-weight: 600;
  font-family: gobold_boldregular;
}

#barra-ingles-niños {
  height: 20px;
  width: 400px;
  background-color: #ED6C32;
  margin: 38.5em auto;
  display: relative;
}

#up{
  background-color: #ffffff
}

#up .fa-chevron-up {
  color: #616160
}

#upestructu {
  background-color: #ffffff;
}

#upestructu .fa-chevron-up {
  color: #616160;
}

/*--------------------------------------------------GESTIÓN CULTURAL -------------------------------------------------*/
