@import "menu"
@import "inicio"
@import "fuentes"
@import "carta"
@import "estructura"
@import "cultura"
@import "animate"
@import "inversion"
@import "stefania"
@import "responsabilidad"
@import "blues"
@import "gestion-cultural"
@import "gestion"
@import "bibliotecas"
@import "galeria"
@import "inversion-cultural"
@import "freepress"

html, body
  overflow-x: hidden
  background-color: #F4F4F4

h1, h2, h3
  font-family: gobold_boldregular

p
  font-family: dosislight
